
#form>img{
    width: 100%;
}
.checkbox{
    width: 100%;
    display: flex;

}
#check{
    height: 12px;
    width: 12px;
}
.checkbox>p{
    font-size: 12px;
    margin-top: 4px;
}
#password{
    border-bottom: 3px solid;
}