#searchbar>div{
    width: 80%;
    height: 100px;
    border: 1px solid red;
    margin: auto;
}


#search{
  
   width:993px;
  }
  .anchortage{
      text-decoration: none;
      color:black;
  }
 .logo{
      width:  12%;
      height: 50px;
  }
  #a {
      border: none;
      border-radius: 15px;
    width: 110px;
   height: 40px;
    margin-left: 165px;
    color: rgb(44, 56, 161);
    box-shadow: inset 0 0 0 0 teal;
    font-size: 1rem;
    transition: ease-out 0.3s;
     }
     #a:hover {
        box-shadow: inset 110px 0 0 0 teal;
     }
     #choice{
         display: flex;
         justify-content: space-around;
        
     }
     #choice:hover{
        cursor: pointer;
        color: brown;
       
     }
     .red{
         color: red;
     }
     .blue{
         color: blue;
     }
     #choice li  {
         list-style: none;
         
     }
     #choice li a {
         text-decoration: none;
     }
     #offer{
        /* border: 1px solid black; */
        width: 95%;
        height: 150px;
        margin: auto;
        margin-top: 65px;
        background-color: antiquewhite;
        padding: 20px;
        
       
    }
    .off{
    margin-left: 100px;
    }
    .img {
        /* border: 1px solid red; */
        width: 20%;
        height: 120px;
        margin-left: 850px;
        margin-top: -110px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
    .img >img {
        width: 100%;
        height: 98%;
    }
    #bigDiv{
        /* border: 1px solid red; */
        width: 92%;
        height: 40s0px;
        margin: auto;
        margin-top: 30px;
    }
    #bigDiv>img {
        width: 100%;
        height: 60%;
    }
    #bigDiv>text {
        margin-top: 10px;
    }
   #info{
       /* border: 1px solid red; */
       width: 80%;
       height: 110px;
       margin: auto;
      padding-left: 130px;
      margin-top: 110px;
   }
   #info>h3 {
       font-size: 25px;
       margin-left: 250px;
   }
   #choiceTwo {
       margin-top: 30px;
       display: flex;
       justify-content: space-around;
   }
   #choiceTwo li {
       font-size: 25px;
       list-style: none;
   }
   #choiceTwo li a {
       text-decoration: none;
       color: black;
   }
   #product {
     
         /* border: 1px solid red;  */
        width: 95%;
       height: 410px;
       margin: auto;
       margin-top: 30px;
       display: flex;
       justify-content: space-around;
   }
   .pro{
       /* border: 1px solid black; */
       width: 25%;
        height: 98%;
        transition: transform 0.10s;
   }
   .pro:hover {
       transform: translateY(-10px);
   }
   .prod-img{
       width: 100%;
       height: 65%;
   }

  .col {
      text-decoration: line-through;
      color: gray;
  }
  .checked{
      color: orange;
  }
  #text > h1 {
      margin-left: 320px;
      font-size: 40px;
      margin-top: 35px;

  }
  #baner {
      width: 90%;
      height: 400px;
      /* border: 1px solid red; */
      margin: auto;
      display: flex;
      justify-content: space-around;
  }
  .photo {
      /* border: 1px solid black; */
      width: 40%;
      height: 100%;
  }
  .photo img {
      width: 100%;
      height: 80%;
  }
  
  #trnd{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(1,600px);
    gap: 20px;

}
#trnd>div{
    
    background-color: rgb(238, 231, 231);
}
#trnd b{
    color: red;
}

#mid{
    height: 150px;
    width: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    background-color: rgb(241, 104, 54);
    margin-top: 50px;
}

#pr{
    height:auto;
    width:100%;
    margin-top:50px;
    display: flex;
    text-align-last: left;
   background-color:rgb(222, 219, 219);
   padding: 20px;
   
}
#fst{
    height: 98%;
    width: 70%;
    
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(1,400px);
    gap: 10px;

    

}

#fst p{
    line-height: 30px;
    font-weight: lighter;
    font-size: medium;
    color: rgb(56, 55, 55);
}
#scnd{
    height: 98%;
    width: 20%;
    
    margin:auto
}
#scnd>div>img{
    height: 60%;
    width:80%
}
#pr p:hover{
   color: rgb(19, 106, 246);
   cursor: pointer;
} 
.checked{
   color: orange;
}
img:hover{
  cursor: pointer;
}
/* ------single product---- */

.small-container img {
 width: 40%;
 height: 95%;

}
#dropbtn{
    background-color: white;
    border:none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 660px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    gap:20px;
    padding:20px;
  }
 
  .dropdown {
    position: relative;
    display: inline block;
  }
  .dropdown:hover .dropdown-content {display:flex;}
  .dropdown-content a:hover {background-color: #ddd;}
  .dropdown:hover .dropbtn {background-color: #3e8e41;}